{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mt-2">
        <div class="card-header">Enter details for your pet</div>
        <div class="card-body">
          <form action="/pets/add/submit" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ .csrfField }}
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control {{if .form.NameErr}}is-invalid{{end}}" id="name" placeholder="Enter pet's name" name="name" value="{{.form.Name}}">
              <div class="invalid-feedback">
                {{.form.NameErr}}
              </div>
            </div>

            <div class="form-group">
              <label for="place">Location</label>
              <select class="form-control {{if .form.PlaceErr}}is-invalid{{end}}" id="place" name="place">
                <option value="" selected disabled hidden>Choose location</option>
                {{$place:=.form.Place}}
                {{range .groups}}
                  <optgroup label="{{.Name}}">
                    {{range .Places}}
                      <option value="{{.Key}}" {{if eq .Key $place}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                  </optgroup>
                {{end}}
              </select>
              <div class="invalid-feedback">
                {{.form.PlaceErr}}
              </div>
            </div>

            <div class="form-group">
              <label for="typeSelect">Type</label>
              <select class="form-control {{if .form.TypeErr}}is-invalid{{end}}" id="typeSelect" name="type">
                <option value="" selected disabled hidden>Choose pet type</option>
                <option value="1" {{if eq .form.Type "1"}}selected{{end}}>Cat</option>
                <option value="2" {{if eq .form.Type "2"}}selected{{end}}>Dog</option>
              </select>
              <div class="invalid-feedback">
                {{.form.TypeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="sizeSelect">Age</label>
              <select class="form-control {{if .form.AgeErr}}is-invalid{{end}}" id="sizeSelect" name="age">
                <option value="0" {{if eq .form.Age "0"}}selected{{end}}>Unknown</option>
                <option value="1" {{if eq .form.Age "1"}}selected{{end}}>Baby</option>
                <option value="2" {{if eq .form.Age "2"}}selected{{end}}>Young</option>
                <option value="3" {{if eq .form.Age "3"}}selected{{end}}>Adult</option>
                <option value="4" {{if eq .form.Age "4"}}selected{{end}}>Senior</option>
              </select>
              <div class="invalid-feedback">
                {{.form.AgeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="sizeSelect">Size</label>
              <select class="form-control {{if .form.SizeErr}}is-invalid{{end}}" id="sizeSelect" name="size">
                <option value="" selected disabled hidden>Choose size</option>
                <option value="1" {{if eq .form.Size "1"}}selected{{end}}>Small</option>
                <option value="2" {{if eq .form.Size "2"}}selected{{end}}>Medium</option>
                <option value="3" {{if eq .form.Size "3"}}selected{{end}}>Large</option>
                <option value="4" {{if eq .form.Size "4"}}selected{{end}}>Huge</option>
              </select>
              <div class="invalid-feedback">
                {{.form.SizeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="genderSelect">Gender</label>
              <select class="form-control {{if .form.GenderErr}}is-invalid{{end}}" id="genderSelect" name="gender">
                <option value="0" {{if eq .form.Gender "0"}}selected{{end}}>Unknown</option>
                <option value="1" {{if eq .form.Gender "1"}}selected{{end}}>Male</option>
                <option value="2" {{if eq .form.Gender "2"}}selected{{end}}>Female</option>
              </select>
              <div class="invalid-feedback">
                {{.form.GenderErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="notesTextArea">Notes</label>
              <textarea class="form-control {{if .form.NotesErr}}is-invalid{{end}}" id="notesTextArea" rows="4" name="notes" placeholder="Enter a description or other details.">{{.form.Notes}}</textarea>
              <div class="invalid-feedback">
                {{.form.NotesErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="photo">Pet's photo</label>
              <input type="file" class="form-control-file {{if .form.PhotoErr}}is-invalid{{end}}" id="photo" accept="image/*" name="photo">
              {{if .form.PhotoErr}}
                <div class="invalid-feedback" style="display:block">
                  {{.form.PhotoErr}}
                </div>
              {{end}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
