{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
        <div class="card-body">
          <form action="/pets/add/submit" method="POST" accept-charset="UTF-8">
            {{ .csrfField }}
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control {{if .data.NameErr}}is-invalid{{end}}" id="name" placeholder="Enter pet's name" name="name" value="{{.data.Name}}">
              <div class="invalid-feedback">
                {{.data.NameErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="typeSelect">Type</label>
              <select class="form-control {{if .data.TypeErr}}is-invalid{{end}}" id="typeSelect" name="type">
                <option value="" selected disabled hidden>Choose pet type</option>
                <option value="1" {{if eq .data.Type "1"}}selected{{end}}>Cat</option>
                <option value="2" {{if eq .data.Type "2"}}selected{{end}}>Dog</option>
              </select>
              <div class="invalid-feedback">
                {{.data.TypeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="sizeSelect">Age</label>
              <select class="form-control {{if .data.AgeErr}}is-invalid{{end}}" id="sizeSelect" name="age">
                <option value="0" {{if eq .data.Age "0"}}selected{{end}}>Unknown</option>
                <option value="1" {{if eq .data.Age "1"}}selected{{end}}>Baby</option>
                <option value="2" {{if eq .data.Age "2"}}selected{{end}}>Young</option>
                <option value="3" {{if eq .data.Age "3"}}selected{{end}}>Adult</option>
                <option value="4" {{if eq .data.Age "4"}}selected{{end}}>Senior</option>
              </select>
              <div class="invalid-feedback">
                {{.data.AgeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="sizeSelect">Size</label>
              <select class="form-control {{if .data.SizeErr}}is-invalid{{end}}" id="sizeSelect" name="size">
                <option value="" selected disabled hidden>Choose size</option>
                <option value="1" {{if eq .data.Size "1"}}selected{{end}}>Small</option>
                <option value="2" {{if eq .data.Size "2"}}selected{{end}}>Medium</option>
                <option value="3" {{if eq .data.Size "3"}}selected{{end}}>Large</option>
                <option value="4" {{if eq .data.Size "4"}}selected{{end}}>Huge</option>
              </select>
              <div class="invalid-feedback">
                {{.data.SizeErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="genderSelect">Gender</label>
              <select class="form-control {{if .data.GenderErr}}is-invalid{{end}}" id="genderSelect" name="gender">
                <option value="0" {{if eq .data.Gender "0"}}selected{{end}}>Unknown</option>
                <option value="1" {{if eq .data.Gender "1"}}selected{{end}}>Male</option>
                <option value="2" {{if eq .data.Gender "2"}}selected{{end}}>Female</option>
              </select>
              <div class="invalid-feedback">
                {{.data.GenderErr}}
              </div>
            </div>
            <div class="form-group">
              <label for="notesTextArea">Notes</label>
              <textarea class="form-control" id="notesTextArea" rows="4" name="notes"></textarea>
            </div>
            <div class="form-group">
              <label for="photo">Pet's photo</label>
              <input type="file" class="form-control-file" id="photo" accept="image/*" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
