{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        {{block "searchform" .}}{{end}}
      </div>
    </div>
    <div class="row">
      {{range .data}}
        <div class="col">
          <div class="card" style="width: 20rem;">
            <div class="card-header">Featured</div>
            <img class="card-img-top" src="/photos/{{.PhotoID}}" alt="Photo of pet named {{.Name}}.">
            <div class="card-body">
              <h4 class="card-title">{{.Name}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{.Place.Name}}</h6>
              <div class="mb-2">
                {{if ne .Age 0 }}<span class="badge badge-info">{{.Age}}</span>{{end}}
                {{if ne .Gender 0 }}<span class="badge badge-info">{{.Gender}}</span>{{end}}
                {{if ne .Size 0 }}<span class="badge badge-info">{{.Size}}</span>{{end}}
              </div>
              <p class="card-text">{{.Notes}}</p>
            </div>
            <div class="card-footer text-muted">
              <address class="footer-address">
                {{.Owner.Name}}<br />
              </address>
            </div>
          </div>
        </div>
      {{end}}
    </div>
  </div>
{{end}}
