{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        {{block "searchform" .}}{{end}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 20rem;">
          <div class="card-header">Featured</div>
          <img class="card-img-top" src="http://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Zazzles</h4>
            <p class="card-text">Too zazzy to be named Hermann von Helmholtz.</p>
            <a href="#" class="btn btn-success">View pet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
