{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card my-4">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <h4 class="card-title">Choose a way to login</h4>
            <p class="card-text">This application will only access your public information and your email.</p>
            <form method="POST" action="/login">
              <a href="/login/github" class="btn btn-lg btn-outline-dark"><i class="fa fa-github" aria-hidden="true"></i> Login with GitHub</a>
              <a href="/login/linkedin" class="btn btn-lg btn-outline-primary"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Login with LinkedIn</a>
            <form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
