{{define "navbar"}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/paw.svg" width="26" height="26" alt="brand icon paw">
      Petfind
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{if eq .nav "home"}}
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        {{end}}
        {{if eq .nav "search"}}
          <li class="nav-item active">
            <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
        {{end}}
        {{if eq .nav "add"}}
          <li class="nav-item active">
            <a class="nav-link" href="/pets/add">Give a pet <span class="sr-only">(current)</span></a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/pets/add">Give a pet</a>
          </li>
        {{end}}
      </ul>
      {{if .user}}
        <form method="POST" action="/logout"  class="form-inline my-2 my-lg-0">
          <button type="submit" class="btn btn-info my-2 my-sm-0"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
          {{ .csrfField }}
        </form>
      {{else}}
        <a href="/login" class="btn btn-outline-info"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
      {{end}}
    </div>
  </nav>
{{end}}
