      {{define "searchform"}}
        <div class="card bg-light my-2">
          <div class="card-header">Search for a pet</div>
          <div class="card-body">
            <form action="/form" method="GET" class="form-inline">
              <label for="place" class="sr-only">Location</label>
              <select id="place" class="form-control mb-2 mr-sm-2 mb-sm-0" name="place">
                <option value="" selected disabled hidden>Choose location</option>
                {{range .groups}}
                  <optgroup label="{{.Name}}">
                    {{range .Places}}
                      <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                  </optgroup>
                {{end}}
              </select>

              <label for="type" class="sr-only">Type</label>
              <select id="type" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option value="any">Any Type</option>
                <option value="1">Cat</option>
                <option value="2">Dog</option>
              </select>

              <label for="age" class="sr-only">Age</label>
              <select id="age" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option value="any">Any Age</option>
                <option value="1">Baby</option>
                <option value="2">Young</option>
                <option value="3">Adult</option>
                <option value="4">Senior</option>
              </select>

              <label for="size" class="sr-only">Size</label>
              <select id="size" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option value="any">Any Size</option>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
                <option value="4">Huge</option>
              </select>

              <label for="gender" class="sr-only">Gender</label>
              <select id="gender" class="form-control mb-2 mr-sm-2 mb-sm-0">
                <option value="any">Any Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
              <button type="submit" class="btn btn-outline-success">Search</button>
            </form>
          </div>
        </div>
      {{end}}
{{define "js"}}
<script>
  $( function() {
    console.log($("#location"));
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#location" ).autocomplete({
      source: availableTags
    });
  } );
</script>
{{end}}
